html {
  box-sizing: border-box;
}

*,
*:before,
 *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

.svg-sprite {
  display: none;
}

/*для скрытия отсутствующих на макете заголовков*/
.visually-hidden {
  position: absolute;
  clip: rect (0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  visibility: hidden;
}

.main-header {
  position: relative;
  margin-bottom: 0;
}

.main-header-logo {
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
  height: 70px;
}

.main-navigation {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation-item {
  width: 240px;
  text-align: center;
  
  /* Временно для сетки */
  min-height: 50px;
}

.main-navigation-item:nth-child(2) {
  margin-right: 240px;
}

.main-navigation-link {
  color: #000000;
}

.main-navigation-link:hover {
  color: #81b3d2;
}

.main-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-link.active {
  color: #766357;
}

.promo {
  position: relative;
  margin-bottom: 58px;
  background-color: #81b3d2;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: 1200px 800px;
  
  /* Временно для сетки */
  min-height: 510px;
}

.promo-image {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
}

.promo::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 1200px;
  height: 57px;
  background-image: url("../img/mask.png");
  background-repeat: no-repeat;
}

.heading {
  width: 576px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 55px;
  text-align: center;
}

.heading-title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.heading-text {
  margin: 0;
  padding: 0;
  line-height: 26px;
}

.features-wrapper {
  display: flex;
}

.features-item {
  text-align: center;
}

.features-item.primary {
  display: flex;
  margin-bottom: 58px;
}

.features-description {
  width: 400px;
  padding: 45px 47px;
  background-color: #81b3d2;
  
   /* Временно для сетки */
  min-height: 256px;
}

.features-photo {
  width: 800px;
  height: 256px;
}

.features-title {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.features-item.primary {
  color: #ffffff;
}

.features-item.primary .features-title {
  color: #ffffff;
}

.advantages {
  margin-bottom: 80px;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-item {
  width: 400px;
  padding: 0 72px;
  
  /* Временно для сетки */
  min-height: 190px;
}

.advantages-picture {
  width: 76px;
  height: 76px;
  fill: #81B3D2;
}

.advantages-title {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.advantages-text {
  color: #333333;
}

.features-items-wrapper.secondary {
  display: flex;
  margin-bottom: 52px;
}

.features-item.secondary {
  background-color: #eeeeee;
  width: 400px;
  padding-top: 50px;
  padding-right: 76px;
  padding-left: 76px;
  padding-bottom: 60px;
  
  /* Временно для сетки */
  min-height: 257px;
}

.search-wrapper {
  width: 576px;
  padding: 0 80px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  text-align: center;
  
  /* Временно для сетки */
  min-height: 290px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-text {
  line-height: 24px;
}

.search-button {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}

.search-button:hover {
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33; 
}

.select {
  font-weight: 700;
  line-height: 26px;
  color:#000000;
}

.select-input {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.select-input:hover {
  background-color: #ebebeb;
}

.select-input:focus {
  background-color: #ffffff;
  outline: none;
  border: #e5e5e5 solid 2px;
}

.select-button {
  height: 38px;
  vertical-align: middle;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer; 
}

.select-svg {
  fill: #a9a9a9;
  width: 21px;
  height: 22px;
}

.select-svg:hover {
  fill: #000000;
}

.select-svg:active {
  fill: #81b3d2;
}

.select-button.less::before {
  content: " ";
  display: block;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.select-button.larger::before {
  content: " ";
  display: block;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.select-button.larger::after {
  content: " ";
  display: block;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  transform: rotate(90deg);
}

.select-submit {
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.select-submit:hover {
  background-color: #669ec0;
}

.select-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  /* Временно для сетки */
  height: 475px;
  position: relative;
}

.main-footer {
  position: absolute;
  display: flex;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: rgba(255, 255, 255, 0.9);
  
  /* Временно для сетки */
  min-height: 120px;
}

.hashtag {
  width: 400px;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hashtag-link {
  color: #000000;
}

.social {
  width: 400px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 155px;
  list-style: none;
}

.social-link {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.social-link:hover {
  background-color: #669ec0;
}

.social-link:active {
  background-color: #5496bd;
}

.social-svg {
  fill: #ffffff;
}

.social-svg:active {
  fill: #88b6d1;
}

.social-svg.twitter {
  width: 17px;
  height: 15px;
}

.social-svg.facebook {
  width: 12px;
  height: 22px;
}

.social-svg.youtube {
  width: 20px;
  height: 16px;
}

.copyright {
  width: 400px;
  text-align: center;
  line-height: 26px;
  color: #000000;
}

.copyright-svg {
  fill: #231f20;
  width: 200px;
  height: 43px;
}

.copyright-svg:hover {
  fill: #81b3d2;
}

.copyright-svg:active {
  fill: #bdbbbc;
}

.filters {
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/background-photo-2.jpg");
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: cover;
  
  /* Временно для сетки */
  min-height: 217px;
}

.filters-form {
  display: flex;
  justify-content: space-between;
}

.filters-group {
  border: none;
  width: 180px;
}

.filters-group.range {
  width: 360px;
}

.filters-group-title {
  font-weight: 700;
  font-size: 16px;
}

.filters-group-list {
  list-style: none;
}

.filters-group-label {
  font-weight: 400;
  cursor: pointer;
}

.filters-button-rezult {
  font: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.0);
  border: 2px solid #ffffff;
  cursor: pointer;
}

.filters-button-rezult:hover {
  color: #000000;
  background-color: #ffffff;
}

.sort {
  display: flex;
  justify-content: space-between;
  padding: 32px 72px;
}

.sort-wrapper {
  display: flex;
}

.sort-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.sort-rezult {
  margin: 0;
  margin-right: 48px;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sort-title {
  margin: 0;
  margin-right: 38px;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  color: #000000
}

.sort-list {
  list-style: none;
}

.sort-item {
  margin-right: 28px;
}

.sort-link {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
}

.sort-link.active {
  color: #81b3d2;
  text-decoration: none;
}

.sort-control.up {
  margin-right: 10px;
}

.sort-control-svg {
  fill: #cacaca;
  width: 11px;
  height: 10px;
}

.sort-control-svg.active {
  fill: #81b3d2;
}

.sort-control-svg:hover  {
  fill: #231f20;
}

.sort-control-svg:active {
  fill: #81b3d2;
}

.content-items {
  display: flex;
}

.content-items {
  display: flex;
  flex-direction: column;
}

.hotel {
  display: flex;
  padding: 30px 72px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  
   /* Временно для сетки */
  min-height: 180px;
}

.hotel-description {
  display: flex;
  flex-direction: column;
}

.hotel-description-wrapper {
  display: flex;
}

.hotel-description-wrapper-column {
  display: flex;
  flex-direction: column;
}

.hotel-description-wrapper-column:first-child {
  margin-right: 5px;
}

.hotel-title {
  margin: 0;
  padding: 0;
}

.hotel-title-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-title-link:hover {
  color: #81b3d2;
}

.hotel-title-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-button {
  padding: 5px 15px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.hotel-button.info {
  background-color: #81b3d2;
}

.hotel-button.info:hover {
  background-color: #669ec0;
}

.hotel-button.info:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-button.booking {
  background-color: #766357;
}

.hotel-button.booking:hover {
  background-color: #604e43;
}

.hotel-button.booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.hotel-rating-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.hotel-rating-stars {
  width: 18px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
} 

.hotel-rating-text {
  margin: 0;     
  padding: 4px 17px;
  color: #666666;
  text-align: center;
  background-color: #f2f2f2;
}