body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect (0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  visibility: hidden;
}

.main-navigation {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation-list {
  list-style: none;
}

.main-navigation-link {
  color: #000000;
}

.main-navigation-link:hover {
  color: #81b3d2;
}

.main-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-link.active {
  color: #766357;
}

.promo {
  background-color: #36484d;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
}

.heading {
  text-align: center;
}

.heading-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.heading-text {
  line-height: 26px;
}

.features-item {
  text-align: center;
}

.features-description {
  background-color: #81b3d2;
}

.features-title {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.primary {
  color: #ffffff;
}

.primary .features-title {
  color: #ffffff;
}

.advantages-list {
  list-style: none;
}

.advantages-item:nth-child(1) .advantages-picture {
  height: 80px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.advantages-item:nth-child(2) .advantages-picture {
  height: 80px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.advantages-item:nth-child(3) .advantages-picture {
  height: 80px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.advantages-title {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.advantages-text {
  color: #333333;
}

.secondary-wrapper {
  background-color: #eeeeee;
}

.search-wrapper {
  text-align: center;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-text {
  line-height: 24px;
}

.search-button {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.search-button:hover {
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33; 
}

.select {
  font-weight: 700;
  line-height: 26px;
  color:#000000;
}

.select-input {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.select-input:hover {
  background-color: #ebebeb;
}

.select-input:focus {
  background-color: #ffffff;
  outline: #e5e5e5 solid 2px;
}

.select-button {
  height: 38px;
  vertical-align: middle;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer; 
}

.select-button svg {
  fill: #a9a9a9;
}

.select-button svg:hover {
  fill: #000000;
}

.select-button svg:active {
  fill: #81b3d2;
}

.less::before {
  content: " ";
  display: block;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.larger::before {
  content: " ";
  display: block;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.larger::after {
  content: " ";
  display: block;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  transform: rotate(90deg);
}

.select-submit {
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.select-submit:hover {
  background-color: #669ec0;
}

.select-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hashtag {
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hashtag-link {
  color: #000000;
}

.social-list {
  list-style: none;
}

.social-link {
  display: block;
  background-color: #81b3d2;
}

.social-link:hover {
  background-color: #669ec0;
}

.social-link:active {
  background-color: #5496bd;
}

.social-link svg {
  fill: #ffffff;
}

.social-link svg:active {
  fill: #88b6d1;
}

.copyright {
  text-align: center;
  line-height: 26px;
  color: #000000;
}

.copyright-link svg {
  fill: #231f20;
}

.copyright-link svg:hover {
  fill: #81b3d2;
}

.copyright-link svg:active {
  fill: #bdbbbc;
}

.filters {
  color: #ffffff;
  background-color: #426b87;
  background-image: url("../img/background-photo-2.jpg");
  background-repeat: no-repeat;
}

.filters-group {
  border: none;
}

.filters-group-title {
  font-weight: 700;
  font-size: 16px;
}

.filters-group-list {
  list-style: none;
}

.filters-group-label {
  font-weight: 400;
}

.filters-button-rezult {
  font: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.0);
  border: 2px solid #ffffff;
  cursor: pointer;
}

.filters-button-rezult:hover {
  color: #000000;
  background-color: #ffffff;
}

.sort-rezult {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sort-title {
  font-size: 12px;
  line-height: 18px;
  color: #000000
}

.sort-list {
  list-style: none;
}

.sort-link {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
}

.sort-link.active {
  color: #81b3d2;
  text-decoration: none;
}

.sort-control svg {
  fill: #cacaca;
}

.sort-control.active svg {
  fill: #81b3d2;
}

.sort-control:hover svg {
  fill: #231f20;
}

.sort-control:active svg {
  fill: #81b3d2;
}

.hotel {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-title-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-title-link:hover {
  color: #81b3d2;
}

.hotel-title-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-button {
  font-weight: 700;
  color: #ffffff;
}

.info {
  background-color: #81b3d2;
}

.info:hover {
  background-color: #669ec0;
}

.info:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.booking {
  background-color: #766357;
}

.booking:hover {
  background-color: #604e43;
}

.booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-rating-list {
  list-style: none;
}

.hotel-rating-stars {
  height: 20px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
} 

.hotel-rating-text {
  color: #666666;
  background-color: #f2f2f2;
}