html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
 *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.svg-sprite {
  display: none;
}

/*для скрытия отсутствующих на макете заголовков*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  position: relative;
  padding-left: 72px;
  padding-right: 72px;
  z-index: 1;
  margin-bottom: 0;
}

.main-header-logo {
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 138px;
  height: 70px;
}

.main-navigation {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation-item {
  width: 240px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.main-navigation-item:nth-child(4n+1),
.main-navigation-item:nth-child(4n+2) {
  text-align: left;
}

.main-navigation-item:nth-child(4n+3),
.main-navigation-item:nth-child(4n+4) {
  text-align: right;
}

.main-navigation-item:nth-child(4n+2) {
  margin-right: 96px;
}

.main-navigation-item:nth-child(4n+3) {
  margin-left: 0;
}

.main-navigation-link {
  color: #000000;
}

.main-navigation-link:hover {
  color: #81b3d2;
}

.main-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-link.active {
  color: #766357;
}

.promo {
  position: relative;
  margin-bottom: 60px;
  background-color: #81b3d2;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: 50% 21%;
  background-size: 1200px 775px;
  min-height: 508px;
}

.promo-image {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.promo::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 1200px;
  height: 57px;
  background-image: url("../img/mask.png");
  background-repeat: no-repeat;
}

.heading {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  text-align: center;
}

.heading-title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.heading-text {
  margin: 0;
  line-height: 26px;
}

.features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-item {
  text-align: center;
}

.features-item.primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-description {
  width: 400px;
  padding-top: 46px;
  padding-right: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
  background-color: #81b3d2;
}

.features-photo {
  width: 800px;
  height: 256px;
}

.features-title {
  /*Для переноса слов в соответствии с макетом*/
  width: 160px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
  padding: 0;
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.features-number {
  display: inline-block;
  margin-bottom: 23px;
}

.features-text {
  margin: 0;
}

/*Для переноса слов в соответствии с макетом*/
.features-text.primary {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}

.features-item.primary {
  color: #ffffff;
}

.features-item.primary .features-title {
  color: #ffffff;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-item {
  width: 400px;
  padding-top: 58px;
  padding-right: 55px;
  padding-bottom: 80px;
  padding-left: 55px;
 }

.advantages-picture {
  width: 76px;
  height: 76px;
  margin-bottom: 20px;
  fill: #81B3D2;
}

.advantages-title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.advantages-text {
  margin: 0;
  color: #333333;
}

.features-items-wrapper.secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-item.secondary {
  background-color: #eeeeee;
  width: 400px;
  padding-top: 47px;
  padding-right: 65px;
  padding-left: 65px;
  padding-bottom: 58px;
}

.search {
  position: relative;
  z-index: 2;
  text-align: center;
}

.search-wrapper {
  width: 440px;
  margin: 0 auto;
  margin-bottom: 45px;
  padding-top: 51px;
}

.search-title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-text {
  margin: 0;
  line-height: 24px;
}

.search-button {
  position: relative;
  z-index: 5;
  padding: 30px 139px;
  margin: 0;
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: inherit;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #766357;
}

.search-button:hover {
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33; 
}

.select {
  position: absolute;
  z-index: 4;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 566px;
  padding: 56px 52px;
  margin-left: -283px;
  font-weight: 700;
  line-height: 26px;
  color:#000000;
  background-color: #ffffff;
}

.select-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.select-label.date {
  width: 95px;
  margin-right: 20px;
}

.select-input {
  width: 346px;
  height: 37px;
  padding-left: 10px;
  padding-right: 10px;
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.select-input:hover {
  background-color: #ebebeb;
}

.select-input:focus {
  background-color: #ffffff;
  outline: none;
  -webkit-box-shadow: inset 2px 2px #e5e5e5,
                   inset -2px -2px #e5e5e5;
          box-shadow: inset 2px 2px #e5e5e5,
                   inset -2px -2px #e5e5e5;
}

.select-input[type="number"]::-webkit-outer-spin-button,
.select-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.select-input[type="number"] {
  -moz-appearance: textfield;
}

.select-input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.select-input[type="number"]:hover,
.select-input[type="number"]:focus {
  -moz-appearance: textfield;
}

.select-input::-webkit-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.select-input::-moz-placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: #000000;
  opacity: 1;
}

.select-input:-moz-placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: #000000;
  opacity: 1;
}

.select-input:-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.select-input[placeholder]{
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.select-button {
  position: absolute;
  margin: 0;
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  cursor: pointer; 
}

.select-button.date {
  top: 6px;
  right: 7px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.select-button.date:hover {
  background-image: url("../img/calendar-hover.svg");
  background-repeat: no-repeat;
}

.select-button.date:active {
  background-image: url("../img/calendar-active.svg");
  background-repeat: no-repeat;
}

.select-button.larger {
  top: 5px;
  right: 5px;
}

.select-button.less {
  top: 5px;
  right: 81px;
}

.select-wrapper-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 55px;
}

.select-wrapper.adults {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 54px;
  margin-bottom: 0;
}

.select-wrapper.children {
  position: relative;
  margin-bottom: 0;
}

.select-label.number.adults {
  margin-right: 44px;
}

.select-label.number.children {
  margin-right: 25px;
}

.select-input.number {
  width: 114px;
  padding-left: 52px;
}

.select-button.less::before {
  content: "";
  display: block;
  width: 11px;
  height: 3px;
  margin-left: 2px;
  background-color: #a9a9a9;
}

.select-button.less:hover::before {
  content: "";
  display: block;
  width: 11px;
  height: 3px;
  margin-left: 2px;
  background-color: #000000;
}

.select-button.less:active::before {
  content: "";
  display: block;
  width: 11px;
  height: 3px;
  margin-left: 2px;
  background-color: #81b3d2;
}

.select-button.larger::before {
  content: "";
  display: block;
  width: 11px;
  height: 3px;
  margin-left: 2px;
  background-color: #a9a9a9;
}

.select-button.larger:hover::before {
  content: "";
  display: block;
  width: 11px;
  height: 3px;
  margin-left: 2px;
  background-color: #000000;
}

.select-button.larger:active::before {
  content: "";
  display: block;
  width: 11px;
  height: 3px;
  margin-left: 2px;
  background-color: #81b3d2;
}

.select-button.larger::after {
  content: "";
  display: block;
  width: 11px;
  height: 3px;
  margin-top: -3px;
  margin-left: 2px;
  background-color: #a9a9a9;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.select-button.larger:hover::after {
  content: "";
  display: block;
  width: 11px;
  height: 3px;
  margin-top: -3px;
  margin-left: 2px;
  background-color: #000000;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.select-button.larger:active::after {
  content: "";
  display: block;
  width: 11px;
  height: 3px;
  margin-top: -3px;
  margin-left: 2px;
  background-color: #81b3d2;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.select-submit {
  padding: 16px 195px;
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  text-transform: inherit;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.select-submit:hover {
  background-color: #669ec0;
}

.select-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  position: relative;
  z-index: 1;
  height: 475px;
}

.map-image {
  width: 1200px;
  height: 593px;
}

.interactive-map {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 1200px;
  height: 593px;
  border: 0;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  padding-bottom: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
}

.main-footer.main {
  position: relative;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  width: 400px;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hashtag-link {
  color: #000000;
}

.social {
  width: 400px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-item {
  margin-right: 6px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; 
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-link:hover {
  background-color: #669ec0;
}

.social-link:active {
  background-color: #5496bd;
}

.social-svg {
  fill: #ffffff;
}

.social-svg:active {
  fill: #88b6d1;
}

.social-svg.twitter {
  width: 17px;
  height: 15px;
}

.social-svg.facebook {
  width: 12px;
  height: 22px;
}

.social-svg.youtube {
  width: 20px;
  height: 16px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  text-align: center;
  line-height: 26px;
  color: #000000;
}

.copyright-text {
  margin-top: -2px;
  margin-right: 7px;
}

.copyright-svg {
  display: block;
  fill: #231f20;
  width: 113px;
  height: 45px;
}

.copyright-svg:hover {
  fill: #81b3d2;
}

.copyright-svg:active {
  fill: #bdbbbc;
}

.filters {
  padding-top: 27px;
  padding-right: 72px;
  padding-bottom: 34px;
  padding-left: 72px;
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/background-photo-2.jpg");
  background-repeat: no-repeat;
  background-position: 100% 34%;
  background-size: cover;
}

.filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filters-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters-group {
  border: none;
  width: 277px;
  margin: 0;
  padding: 0;
}

.filters-group-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 25px;
}

.filters-group-title.filter-range {
  margin-bottom: 9px;
}

.filters-group-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters-group-item {
  position: relative;
  padding-left: 40px;
  margin-bottom: 25px;
  cursor: pointer;
}

.filters-group-checkbox:not(:checked) + .checkbox-indicator {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filters-group-checkbox:focus + .checkbox-indicator {
  outline: 2px solid #81b3d2;
}

.filters-group-checkbox:checked + .checkbox-indicator::before  {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filters-group-checkbox:disabled + .checkbox-indicator {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
}

.filters-group-checkbox:checked:disabled + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
}

.filters-group-checkbox:focus ~ .filters-group-label {
  outline: 2px solid #81b3d2;
}

.filters-group-item:last-child {
  margin-bottom: 0;
}

.filters-group-label {
  font-weight: 400;
  cursor: pointer;
}

.filters-group.filter-range {
  width: 342px;
  margin-left: 228px;
}

.filters-group-price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 21px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filters-group-price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.filters-group-price-controls .filters-group-label {
  display: inline-block;
  padding-top: 5px;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  cursor: pointer;
}

.filters-group-label.min-price  {
  width: 140px;
  padding-left: 63px;
}

.filters-group-label.max-price {
  width: 140px;
  padding-left: 67px;
}

.filters-group-input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.filters-group-range-controls {
  position: relative;
}

.filters-group-scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.filters-group-bar {
  width: 260px;
  height: 2px;
  background-color: #ffffff;
}

.filters-group-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.filters-group-toggle:hover {
  width: 21px;
  height: 21px;
}

.filters-group-toggle:focus {
  outline: 2px solid #81b3d2;
}

.filters-group-toggle.range-toggle-min {
  left: 0;
}

.filters-group-toggle.range-toggle-max {
  left: 80%;
}

.filters-button {
  margin-top: -38px;
  margin-right: 96px;
  margin-left: auto;
}

.filters-button-rezult {
  padding: 5px 33px;
  font: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.filters-button-rezult:hover {
  color: #000000;
  background-color: #ffffff;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-top: 31px;
  padding-right: 72px;
  padding-left: 72px;
  padding-bottom: 29px;
  border-bottom: 1px solid #e5e5e5;
}

.sort-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.sort-rezult {
  margin: 0;
  margin-right: 48px;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sort-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-right: 39px;
  font-size: 12px;
  line-height: 18px;
  color: #000000
}

.sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 34px;
}

.sort-link {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort-link.active {
  color: #81b3d2;
  border: none;
}

.sort-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 34px;
}

.sort-control.up {
  margin-right: 10px;
}

.sort-control-svg {
  fill: #cacaca;
  width: 11px;
  height: 10px;
}

.sort-control-svg.active {
  fill: #81b3d2;
}

.sort-control-svg:hover  {
  fill: #231f20;
}

.sort-control-svg:active {
  fill: #81b3d2;
}

.content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px; 
  padding-right: 72px;
  padding-bottom: 24px;
  padding-left: 72px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-figure {
  margin: 0;
  margin-right: 31px;
  padding: 0;
}

.hotel-image {
  width: 135px;
  height: 90px;
}

.hotel-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hotel-description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 256px;
}

.hotel-title {
  margin-top: -5px;
  margin-bottom: 7px;
}

.hotel-text {
  width: 110px;
  margin: 0;
  margin-right: 6px;
  margin-bottom: 13px;
}

.hotel-title-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-title-link:hover {
  color: #81b3d2;
}

.hotel-title-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-button {
  margin-right: 8px;
  padding: 3px 16px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.hotel-button.info {
  background-color: #81b3d2;
}

.hotel-button.info:hover {
  background-color: #669ec0;
}

.hotel-button.info:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-button.booking {
  background-color: #766357;
}

.hotel-button.booking:hover {
  background-color: #604e43;
}

.hotel-button.booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
}

.hotel-rating-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 47px;
  padding: 0;
}

.hotel-rating-stars {
  width: 18px;
  height: 17px;
  margin-right: 6px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
} 

.hotel-rating-stars:last-child {
  margin-right: 0;
}

.hotel-rating-text {
  margin: 0;     
  padding: 3px 13px;
  color: #666666;
  text-align: center;
  background-color: #f2f2f2;
}